.campaign-top {
  padding-bottom: 20px;
  border-bottom: 1px solid lightgray;
}

.campaign-pic {
  width: 100%;
  height: 100%;
  max-width: 800px;
  max-height: 500px;
}

/* .campaign-images {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.other-pics {
  display: flex;
  justify-content: center;
}

.campaign-status {
  display: flex;
  flex-direction: column;
  align-items: start;
  /* justify-content: space-evenly; */
}

.campaign-status-item {
  margin-bottom: 25px;
}

.campaign-user-details {
  display: flex;
  align-items: center;
}

.campaign-progress {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.spaced-out {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#campaign-back-it {
  background-color: #e51075;
  color: white;
}

#campaign-follow {
  color: #e51075;
}

.follow-heart {
  margin-right: 8px;
}

.campaign-perk-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid lightgray;
  margin-top: 10px;
  padding-top: 10px;
}

.campaign-perk-cost {
  font-size: 20px;
  font-weight: 900;
}

.campaign-bold {
  font-size: 18px;
  font-weight: 700;
}

.campaign-perks-title {
  text-align: center;
}

#progress-bar {
  background-color: lightgray;
  border-radius: 13px;
  /* (height of inner div) / 2 + padding */
  /* padding: 3px; */
}

#progress-bar > div {
  background-color: #34ca96;
  /* width: 80%; */
  /* Adjust with JavaScript */
  height: 20px;
  border-radius: 10px;
}

.campaign-user-avatar {
  object-fit: cover;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 20px;
}

.campaign-perk-pic {
  width: 300px;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 15px;
}
