.splash-page {
  margin-top: 55px;
}

.home-banner {
  width: 100vw;
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.banner-carousel {
  height: 400px;
  position: relative;
  display: block;
  z-index: 1;
}

.splash-container {
  position: relative;
}

.banner-word-overlay {
  position: absolute;
  z-index: 2;
  top: 20%;
  right: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner-title {
  font-family: "Varela Round", sans-serif;
  font-size: 4vw;
}

.motto {
  font-size: 2vw;
  font-family: "Varela Round", sans-serif;
}

.banner-words {
  color: white;
}

.sample-img {
  opacity: 0.4;
  filter: alpha(opacity=40); /* msie */
}

.splash-new-campaigns {
  margin-top: 400px;
}

.new-campaigns-tiles {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2em;
}

.splash-most-backed {
  margin-top: 50px;
}

@media only screen and (max-width: 1000px) {
  .banner-carousel {
    display: none;
  }
}
