.logo {
  color: #e51075;
  font-family: "Varela Round", sans-serif;
  font-size: 24px;
  font-weight: 900;
}

.search-icon {
  background-image: url(../images/search-icon-35px.jpg);
  height: 35px;
  width: 35px;
}
