/* TODO Add site wide styles */

/* font-family: 'Varela Round', sans-serif; */
/* https://fonts.google.com/specimen/Varela+Round?sidebar.open=true&selection.family=Varela+Round */

main {
  margin-top: 65px;
  z-index: 1;
}

/* .modal-background {
  position: relative;
} */
.modal-card {
  /* position: absolute; */
  top: 20%;
}

.logo.navbar-brand {
  padding-top: 10px;
}

a {
  color: #e51075;
}

* {
  font-family: "Roboto Slab", serif;
}
