/* TODO Add site wide styles */

/* font-family: 'Varela Round', sans-serif; */
/* https://fonts.google.com/specimen/Varela+Round?sidebar.open=true&selection.family=Varela+Round */

main {
  margin-top: 65px;
  z-index: 1;
  min-height: 90vh;
}

/* .modal-background {
  position: relative;
} */
.modal-card {
  /* position: absolute; */
  top: 20%;
}

.logo.navbar-brand {
  padding-top: 10px;
}

a {
  color: #e51075;
}

* {
  font-family: "Roboto Slab", serif;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 800px) {
  /* For mobile phones: */
  .mq.matches,
  .mq.new-campaigns-tiles {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    gap: 2em;
  }
}
