/* TODO Add site wide styles */

/* font-family: 'Varela Round', sans-serif; */
/* https://fonts.google.com/specimen/Varela+Round?sidebar.open=true&selection.family=Varela+Round */

main {
  margin-top: 60px;
}

.modal-background {
  position: relative;
}
.modal-card {
  position: absolute;
  top: 20%;
}
